h1 {
  color: red;
  top-margin : 25pt;
}
.F1 {
  color: olive;
  font-family: "Times New Roman";
  top-margin : 20pt;
  font-size : 28pt;
  font-weight : bold;
}
.F2 {
  color: navy;
  font-family: "Times New Roman" ;
  top-margin : 6pt;
  font-size : 15pt;
  font-style : normal;
}
.F3 {
  color: Cyan;
  font-family: "Times New Roman";
  top-margin: 6pt;
  font-size: 15pt;
  font-style: normal;
}
.F4 {
  color: Magenta;
  font-family: "Times New Roman";
  top-margin : 20pt;
  font-size : 28pt;
  font-weight : bold;
}
